<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Título de la página</title>
    <!-- Enlace al archivo CSS con Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Editar usuario {{ usuario.id }}</h1>

    <form action="{{ url_for('actualizar_usuario', id=usuario.id) }}" method="POST">
        <p>
            <label>Nombre:</label><br>
            <input type="text" name="nombre" value="{{ usuario.nombre }}" required>
        </p>
        <p>
            <label>Apellido:</label><br>
            <input type="text" name="apellido" value="{{ usuario.apellido }}" required>
        </p>
        <p>
            <label>E-mail:</label><br>
            <input type="email" name="email" value="{{ usuario.email }}" required>
        </p>
        <button type="submit">Actualizar</button>
    </form>
</body>
</html>