<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Título de la página</title>
    <!-- Enlace al archivo CSS con Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Usuarios</h1>
    <a href="{{ url_for('nuevo_usuario') }}">Nuevo Usuario</a>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre Completo</th>
                <th>E-mail</th>
                <th>Fecha Creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.created_at.strftime('%Y-%m-%d') }}</td>
                <td>
                    <a href="{{ url_for('ver_usuario', id=usuario.id) }}">Ver</a>
                    <a href="{{ url_for('editar_usuario', id=usuario.id) }}">Editar</a>
                    <a href="{{ url_for('borrar_usuario', id=usuario.id) }}">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>