<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Título de la página</title>
    <!-- Enlace al archivo CSS con Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Usuario {{ usuario.id }}</h1>
    
    <p><strong>Nombre Completo:</strong> {{ usuario.nombre }} {{ usuario.apellido }}</p>
    <p><strong>E-mail:</strong> {{ usuario.email }}</p>
    <p><strong>Fecha Creación:</strong> {{ usuario.created_at }}</p>
    <p><strong>Fecha Actualización:</strong> {{ usuario.updated_at }}</p>

    <a href="{{ url_for('editar_usuario', id=usuario.id) }}">Editar</a>
    <a href="{{ url_for('borrar_usuario', id=usuario.id) }}">Borrar</a>
    <a href="{{ url_for('usuarios') }}">Volver</a>
</body>
</html>